/*
    #161618 bg in header
    #4A9083
    #CDDFCD tekst in header
    #E5E5D3
    #EB5a75
*/
html {
    font-family: 'Teko', sans-serif;
}
.infoName {
    font-size:3em;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.infoText {
    line-height: 1.5em;
    font-size: 1.4em;
}
.icon {
    margin-right: 10%;
    color: #4A9083;
}

.WorkItem {
    margin-bottom: 2vh;
}
.WorkItem:last-of-type {
    margin-bottom: 0vh;
}
.WorkName {
    font-size: 1.5em;
    font-weight: bold;
}
.WorkDate {
    font-size: 1.2em;
    color: #4A9083;
    font-weight: bold;
    font-style: italic;
    margin-left: 5%;
}
.WorkDate > span {
    margin-right: 1%;
}
.WorkDescription {
    font-style: italic; 
    font-size: 1.3em;
    margin-left: 5%;
}
.EduItem {
    margin-bottom: 2vh;
}
.EduItem:last-of-type {
    margin-bottom: 0vh;
}
.EduItem div:first-of-type{
    font-size: 1.5em;
    font-weight: bold;
}
.EduItem div:last-of-type {
    font-size: 1.3em;
    font-style: italic;
    margin-left:5%;
}
.progressBar {
    display: inline-block;
    width: 75%;
    border-radius: 15px;
    background-color: #305E64;
}
.progressBarContainer {
    width:100%;
    margin-bottom: 2vh;
}
.progressBarContainer:last-of-type {
    margin-bottom: 0vh;
}
.progressBarContainer > span {
    display: inline-block;
    width: 25%;
    font-size: 1.3em;
    font-weight: bold;
}
.progressBarInner {
    font-size: 1.2em;
    font-weight: bold;
    color: #161618;
    padding-left: 15px;  
    height: 100%;
    background-color: #4A9083;
    border-radius: 15px;
}
body {
    padding:0;
    margin:0;
    overflow-x: hidden;
}
.hidden {
    display: none;
}
header nav:hover  a{
    display: block;
}
header nav:hover ~ div {
    display: none;
}
header nav{
    position: fixed;
    color: #CDDFCD;
    background-color: #161618;
    opacity: 0.9;
    padding:0 !important;
    height: 8vh;
}
header nav > div {
    display:none;
}
header nav a {
    line-height:8vh;
    top:8vh;
    text-decoration: none;
    color: #CDDFCD;
    font-size: 1.5em;
    text-align: center;
    padding:0 !important;
    opacity: 0.9;
    background-color: #161618;
}
.sectionTitle {
    width:100%; 
    text-align:center;
     font-size: 3.5em;
     margin:1.5vh;
     font-weight: bold;
}
#portrait{
    object-fit: cover;
    width: 100%;
    max-width: 400px;
    height: 392px;
}
main {
    margin-top:4vh;
}
#navTitle{
    font-size:5vh;
    position:fixed;
    height: 8vh;
    line-height: 8vh;
    width:33%;
    margin-left: 33%;
    margin-right: 33%;
    text-align: center;
    color: white;
}


.col-0 {
    display: none;
}
.spacer {
    height:5vh;
}
.content {
    background-color: #E5E5D3;
    box-sizing: border-box;
}
#HeaderImg {
    width:100%;
    height: 70vh;
    background-image: url('comp.jpg');
    background-size:cover;
    background-position: right;
}
@media only screen and (min-width: 600px){ 
    header nav > div {
        background-color: #161618;
        opacity: 0.9;
        height: 8vh;  
    }
    
}
@media only screen and (min-width: 992px){
    header nav > div {
        display: block;
        background-color: #161618;
        opacity: 0.9;
        height: 8vh;  
    }
    main {
        margin-top: 8vh;
    }
    .col-0 {
        display: block;
        width: 16.66%;
        padding: 15px !important;
    }
    .hidden {
        display: block;
    }
    #navTitle{
        display: none;
    }
    .about {
        font-size: 1.4em;
    }
}
